<div class="about_container">
    <h2>About</h2>
    <div class="about_image">
        <img src="../assets/images/home/windmill-solo.jpg" alt="windmill dummy">
    </div>
    <div class="about_top_info">We know how to reduce your energy consumption.</div>
    <div class="about_bottom_info">
        <h3>Lorem ipsum dolor sit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
</div>