<div class="brand_logo_container">
    <a href="#" target="_blank"><img src="../assets/images/client_logo/logo-1.png" alt="x-logo"></a>
    <a href="#" target="_blank"><img src="../assets/images/client_logo/logo-2.png" alt="x-logo"></a>
    <a href="#" target="_blank"><img src="../assets/images/client_logo/logo-3.png" alt="x-logo"></a>
    <a href="#" target="_blank"><img src="../assets/images/client_logo/logo-4.png" alt="x-logo"></a>
    <a href="#" target="_blank"><img src="../assets/images/client_logo/logo-5.png" alt="x-logo"></a>
</div>