<script src="../js/galleryCarousel.js"></script>
<div class="carousal-gallery">
    <div class="carousal-heading">
        <a class="head" onclick="currentGallery(1)">Awards</a>
        <a class="head" onclick="currentGallery(2)">Current Projects</a>
        <a class="head" onclick="currentGallery(3)">Archive</a>
      </div>
    <div class="gallery-slideshow-container">

        <div class="gallerySlides fade">
            <div class="outer-block">
            <div class="info-block">
                <img src="../assets/images/home/solar.jpg" alt="energy">
                <div class="text-block">
                    <h3>Energy Conservation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
         </div>
        </div>
        </div>
      
        <div class="gallerySlides fade">
          <div class="outer-block">
            <div class="info-block">
                <img src="../assets/images/home/piggy-bank.jpg" alt="savings">
                <div class="text-block">
                    <h3>Cost Management</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="info-block">
                <img src="../assets/images/home/energy.jpg" alt="energy">
                <div class="text-block">
                    <h3>Energy Conservation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </div>
        </div>
    </div>
      
        <div class="gallerySlides fade">
            <div class="outer-block">
            <div class="info-block">
                <img src="../assets/images/home/management.jpg" alt="energy">
                <div class="text-block">
                    <h3>Energy Conservation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
      </div>
      </div>
        <!-- Next and previous buttons -->
        <a class="prev-gallery" onclick="gallerySlides(-1)">&#10094;</a>
        <a class="next-gallery" onclick="gallerySlides(1)">&#10095;</a>
      </div>
     
</div>