<div class="topnav" id="top-navigation">
    <div class = "logo"><img src="../assets/images/home/energy.png" alt="energy logo"></div>
    <nav class ="main-navigation">
        <a href = "#home">Home</a>
        <a href = "#bundles">Bundles</a>
        <a href = "#save_energy_and_money">Save energy and money</a>
        <a href = "#products_and_services">Products and services</a>
        <a href = "#start_stop_move">Start, stop and move</a>
    </nav>
    <nav class ="secondary-navigation">
        <a href = "#FAQ">FAQ</a>
        <a href = "#help">Help</a>
        <a href = "#account"><img src="../assets/images/home/account.png" alt="account icon"></a>
        <a href = "#cart"><img src="../assets/images/home/cart.png" alt="cart icon"></a>
        <a class ="go-to-chat" href = "#chat">Go to chat</a>
    </nav>
    <a href="javascript:void(0);" class="toggle" onclick="responsiveHeader()">
    <i class="fa fa-bars"></i>
    </a>

</div>