<div class="services-container">
        <h2>Services</h2>
        <div class="service-info">
    <div class="left-section">
        <div class="services_solution info-block">
            <h3>Services & <span>Solutions</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="info-block">
            <img src="../assets/images/home/piggy-bank.jpg" alt="savings">
            <div class="text-block">
                <h3>Cost Management</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="info-block">
            <img src="../assets/images/home/energy.jpg" alt="energy">
            <div class="text-block">
                <h3>Energy Conservation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    </div>
    <div class="right-section">
        <div class="info-block">
            <img src="../assets/images/home/solar.jpg" alt="solar panels">
            <div class="text-block">
                <h3>Energy Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
        <div class="info-block">
            <img src="../assets/images/home/management.jpg" alt="management">
            <div class="text-block">
                <h3>Management Programs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    </div>
</div>
</div>