<script src="../js/testimonial.js"></script>
<div class="testimonial-container">
    <h2>Testimonial</h2>
    <div class="testimonial-block">
        <div class="heading">
            <img src="../assets/images/home/testimonial.png" alt="review">
            <h3>Testimonials</h3>
        </div>
        <div class="testimonial-slideshow-container">

            <div class="reviewSlides fade">
              <div class="text">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
                <div class="name">Jessica</div>
                <div class="position">Senior Analyst</div>
                
              </div>
            </div>
          
            <div class="reviewSlides fade">
                <div class="text">
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
                  <div class="name">Erin</div>
                  <div class="position">Project Manager</div>
                  
                </div>
              </div>
          
              <div class="reviewSlides fade">
                <div class="text">
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
                  <div class="name">Pam</div>
                  <div class="position">Analyst</div>
                  
                </div>
              </div>
          </div>
          <br>
          
          <!-- The dots/circles -->
          <div class="carousal-dots-review">
            <span class="dots" onclick="currentReview(1)"></span>
            <span class="dots" onclick="currentReview(2)"></span>
            <span class="dots" onclick="currentReview(3)"></span>
          </div>
    </div>

    </div>

</div>